{%load static%}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'style.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Login and start your scribble!!</h2>
    <form action='login' method='POST'>{%csrf_token%}
        <input type="text" name='username' placeholder="username"><br>
        <input type="password" name='password' placeholder="password"><br> 
        <input type='submit' value='Login'>    
    </form>
    {%if username is  None%}
    <h2>{{error}}</h2>
    {%endif%}
</body>
</html>